
body, html, .report-wrapper
{
    height: 100%;
}



.report-wrapper
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.report
{
    display: flex;
    flex-direction: column;
    height: 100%
}

.page
{
    flex-grow: inherit;
    /* border: 1px black;
    border-style: solid; */
    /* padding: 10px; */
    height: 100%;

}

.selected
{
    background-color: gray;
}

.headers
{
    display: flex;
    flex-direction: row;
    gap: 12px;
    order: 3
}

.header
 {
    padding: 10px;
    background-color:white;
    /* border: 1px solid black; */
    /* margin-top: -1px;    */
 }

 .header.selected
 {
     color: greenyellow;
     border-top: transparent;
 }

 /* .koncept.koncept
{
    /* display: flex;
    flex-direction: column;
    margin-left: 20px;
} */

.abstract-details
{
    display: flex;
    flex-direction: row;
}

.abstract-details-space
{
    width: 50px;
}

.value-details
{
    display: flex;
    flex-direction: row;
}

.value-details label
{
    align-self: flex-end;
}

.value-details-space
{
    width: 50px;
}

.value-details-input
{
    border: gray solid 1px;
    padding:3px
}



.grid-cell
{
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center; 
    color:black
}

.grid-cell-selected
{
    color: black;
    background-color: rgba(43, 41, 41, 0.658);

}

.grid-row-header-selected
{
    color: darkblue;
    background-color: gray;
}

.grid-cell-associated
{
    color: darkblue;
    background-color: lightgrey;

}

.grid-cell-member-selected
{
    color: darkblue;
    background-color: lightgrey;
}


.grid-cell-member
{
    color: darkblue;
    background-color:rgb(226, 219, 219);

}




.abstract-header
{
    font-weight: bold;
}

.rind1
{
    padding: 5px 0px 5px 5px;
    min-width: 300px;
    text-align: left;

}

.rind2
{
    padding: 5px 0px 5px 15px;
    text-align: left;
}

.rind3
{
    padding: 5px 0px 5px 25px
    text-align: left;
}

.rind4
{
    padding: 5px 0px 5px 35px
}

.rind5
{
    padding: 5px 0px 5px 45px
}

.rind6
{
    padding: 5px 0px 5px 55px
}

.rind7
{
    padding: 5px 5px 5px 65px
}

.rind8
{
    padding: 5px 5px 5px 75px
}

.rind9
{
    padding: 5px 5px 5px 85px
}

.rind10
{
    padding: 5px 5px 5px 95px
}

input 
{
    width:100%;
    box-sizing: border-box;
    background-color: white;
    border: red;

}

